
.page-loader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(120%) blur(2px);
    z-index: 9999;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  
    &--hide {
      opacity: 0;
      visibility: hidden;
    }
    

    .loader {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
        border-top: 6px solid #FFF;
        border-right: 6px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border-bottom: 6px solid #7d9eff;
        border-left: 6px solid transparent;
      }
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 

}
